{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "jsx": false,
        "dynamicImport": false,
        "privateMethod": true,
        "functionBind": false,
        "exportDefaultFrom": false,
        "exportNamespaceFrom": false,
        "decorators": false,
        "decoratorsBeforeExport": false,
        "topLevelAwait": false,
        "importMeta": false
      },
      "baseUrl": ".",
      "transform": null,
      "target": "es2016",
      "loose": false,
      "externalHelpers": false,
      "keepClassNames": true,
      "preserveAllComments": true,
      "paths": {
        "@/*": ["src/*"]
      }
    },
    "exclude": ["src/tests", ".test.ts"],
    "minify": false,
    "sourceMaps": true
  }
