{
  "trailingComma": "all", 
  "printWidth": 120, 
  "tabWidth": 2, 
  "useTabs": false, 
  "semi": true, 
  "singleQuote": false, 
  "quoteProps": "as-needed", 
  "bracketSpacing": true, 
  "arrowParens": "always", 
  "endOfLine": "lf", 
  "proseWrap": "preserve", 
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "insertPragma": false, 
  "requirePragma": false,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
